<div class="message gun view">
  <div class="container">
  	<table>
      <tr>
        <td>
          <h1>Message Gun</h1>
        </td>
      </tr>
    </table>
    <p>Viewing results for: {{gun.messageGunName}} Message Gun</p>
    <p>Rabbit Address: {{gun.messageGunRabbitAddress}}:{{gun.messageGunRabbitPort}}</p>
    <p>Rabbit Username: {{gun.messageGunRabbitUsername}}</p>
    <p>Rabbit Password: {{gun.messageGunRabbitPassword}}</p>

    <div>
      <input id="returnBtn" ng-click="" value="Return" class="btn btn-primary" type="button"/>
    </div>
  </div>
</div>