<div class="Socket Monitors view">
	<div class="container">
		<header>
			<h3>Web Socket Monitors</h3>
		</header>
		<div class="row">
			<div class="span1">
				Secure Web Socket?
				<br />
				<input ng-model="newSocketMonitor.socketMonitorSecure" type="checkbox">
			</div>
			<div class="span3">
				Web Socket Monitor Name:
				<br />
				<input ng-model="newSocketMonitor.socketMonitorName" type="text" placeholder="e.g. Staging">
			</div>
			<div class="span3">
				Web Socket IP Address:
				<br />
				<input ng-model="newSocketMonitor.socketMonitorAddress" type="text" placeholder="#.#.#.#">
			</div>
			<div class="span3">
				Web Socket Port:
				<br />
				<input ng-model="newSocketMonitor.socketMonitorPort" type="text" placeholder="####">
			</div>
			<div class="span3">
				Web Socket Account ID:
				<br />
				<input ng-model="newSocketMonitor.socketMonitorAccountID" type="text" placeholder="#">
			</div>
			<div class="span6">
				Web Socket Api Key:
				<br />
				<input ng-model="newSocketMonitor.socketMonitorApiKey" type="text" placeholder="API Key">
				<button id="submitSocketMonitor" class="btn btn-primary" type="button"
					ng-disabled="!newSocketMonitor.socketMonitorName || 
								!newSocketMonitor.socketMonitorAddress || 
								!newSocketMonitor.socketMonitorPort || 
								!newSocketMonitor.socketMonitorAccountID || 
								!newSocketMonitor.socketMonitorApiKey"
					ng-click="insertSocketMonitor()">Add Socket Monitor</button>
			</div>
		</div>
		<br /><br />
		<div>
			<div class="row cardContainer"><!--Change this to a different bootstrap show device-->
				<div class="span3 card" ng-repeat="socketMonitor in socketMonitors | orderBy: 'socketMonitorName'">
					<button class="btn close cardClose" ng-click="deleteSocketMonitor(socketMonitor.socketMonitorID)">&times;</button>
					<div class="cardHeader">{{socketMonitor.socketMonitorName}}</div>
					<div class="cardBody">{{socketMonitor.socketMonitorAddress}}:{{socketMonitor.socketMonitorPort}}</div>
					<a href="#/monitor/{{socketMonitor.socketMonitorID}}" class="cardBody btn-link">View Monitor</a>
				</div>
			</div>
		</div>
	</div>
</div>