<div class="suiteTests view">
	<div class="container">
		<header>
			<h3>Suite Tests</h3>
		</header>
		<div>
			<div class="row">
				<div class="span12">
					<div class="indent">
						<h4>Tests for Suite ID:{{ suite.suiteID + ' - ' + suite.suiteName }}</h4>
						{{ suite.suiteShortDesc }}
						<br />
						{{ suite.suiteDesc}}
						<br /><br />
					</div>
				</div>
				<br /><br />
				<div class="span12">
					<div ng-include="'/app/partials/testsTable.html'" />
				</div>
			</div>
		</div>
	</div>
</div>