<div class="suites view">
	<div class="container">
		<header>
			<h3>Test Suites</h3>
		</header>
		<div class="row">
			<div class="span3">
				Suite Name:
				<br />
				<input ng-model="newSuite.suiteName" type="text" placeholder="Suite Name">
			</div>
			<div class="span3">
				Suite Short Description:
				<br />
				<input ng-model="newSuite.suiteShortDesc" type="text" placeholder="Suite short description">
			</div>
			<div class="span6">
				Suite Description:
				<br />
				<input ng-model="newSuite.suiteDesc" type="text" placeholder="Suite description">
				<button id="submitSuite" class="btn btn-primary" type="button"
					ng-disabled="!newSuite.suiteName || !newSuite.suiteShortDesc || !newSuite.suiteDesc"
					ng-click="insertSuite()">Add Suite</button>
			</div>
		</div>
		<br /><br />
		<div>
			<div class="row cardContainer"><!--Change this to a different bootstrap show device-->
				<div class="span3 card" ng-repeat="suite in suites | orderBy: 'suiteName'">
					<button class="btn close cardClose" ng-click="deleteSuite(suite.suiteID)">&times;</button>
					<div class="cardHeader">{{suite.suiteName}} (ID:{{suite.suiteID}})</div>
					<div class="cardBody">{{suite.suiteShortDesc}}</div>
					<a href="#/suiteTests/{{suite.suiteID}}" class="cardBody btn-link">View {{suite.tests.length }} Tests</a>
				</div>
			</div>
		</div>
	</div>
</div>