<table class="table table-hover table-striped table-condensed table-bordered testsTable" ng-controller="TestChildController">
	<thead>
		<tr>
			<th ng-click="setOrder('testID')">Test ID</th>
			<th ng-click="setOrder('testName')">Test Name</th>
			<th ng-click="setOrder('inputJson')">Input JSON</th>
			<th ng-click="setOrder('expectedJson')">Expected JSON</th>
			<th ng-click="setOrder('outputJson')">Output JSON</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-hide="suite.tests || suite.tests.length > 0 " class="error">
			<td colspan="5">
				<div class="text-center"><strong>No tests found</strong></div>
			</td>
		</tr>
		<tr ng-repeat="test in suite.tests | orderBy:orderby:reverse">
			<td>
				{{ test.testID }}
			</td>
			<td>
				{{ test.testName }}
			</td>
			<td>
				{{ test.inputJson }}
			</td>
			<td>
				{{ test.expectedJson }}
			</td>
			<td>
				{{ test.outputJson }}
			</td>
		</tr>
		<tr class="info">
			<td colspan="4">
				&nbsp;
			</td>
			<td>
				<strong>Total Tests: {{ totalTests }}</strong>
			</td>
		</tr>
	</tbody>
	
</table>