<div class="Test View">
	<div class="container">
		<h1>This is a test</h1>
	</div>

	<div ng-controller="MessageGunsController">
		Message Gun: <select ng-model="messageGuns" ng-options="messageGunName for messageGunName in messageGuns">
		</select>
	</div>
	<div ng-controller="SocketMonitorsController">
		Socket Monitor: 
		<select ng-model="socketMonitors" ng-options="socketMonitorName for socketMonitorName in socketMonitors">
		</select>
	</div>
	

	<div>
		<table class="table table-hover">
			<thead>
				<th>Input</th>
				<th>Expected</th>
				<th>Output</th>
				<th>Correct</th>
			</thead>
			<tbody>
				<tr class="success">
					<td>ID</td>
					<td>Crap</td>
					<td>Junk</td>
					<td >Pass</td>
				</tr>
				<tr class="danger">
					<td>Stuff</td>
					<td>Crap</td>
					<td>Junk</td>
					<td>Danger</td>
				</tr>
				<tr class="info">
					<td>Stuff</td>
					<td>Crap</td>
					<td>Junk</td>
					<td>Info</td>
				</tr>
				<tr class="warning">
					<td>Stuff</td>
					<td>Crap</td>
					<td>Junk</td>
					<td>Warning</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>